.container {
  padding: 1rem;
  width: 25rem;
}

.content {
  background-color: #123;

  .display {
    background-color: var(--white);
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 1rem;

    p {
      font-size: 0.7rem;
    }

    h4 {
      font-size: 1.25rem;
    }
  }

  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    button {
      padding: 1.25rem;
      height: 5rem;
      background-color: var(--yellow-500);
      font-size: 1rem;
      cursor: pointer;

      &.clear {
        background-color: var(--red-500);
      }
    }
  }
}