.container {
  padding: 2rem 1rem;
  max-width: 780px;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;

  input, select, button {
    display: block;
    border-radius: 0.25rem;
    border: 0;
    padding: 1rem 0.5rem;
  }

  input {
    margin-block: 0.5rem;
  }

  select {
    text-align: center;
    width: 100%;
    max-width: 300px;
    margin-inline: auto;
    margin-block: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
  }

  button {
    background-color: var(--yellow-500);
    color: var(--gray-700);
    font-weight: bold;
    transition: filter 0.3s;

    &:not(:first-of-type) {
      margin-top: 1rem;
    }

    &:hover {
      filter: opacity(0.9);
    }
  }
}


.result {

  background-color: var(--white);
  border-radius: 0.25rem;
  margin-top: 1rem;
  padding: 1rem 2rem;

  span {
    color:  var(--red-500);
  }
}